server:
  port: 8081
  #设置session的超时时间，单位是分钟
  servlet:
    session:
      timeout: 60

spring:
  application:
    name: legao
  datasource:
    url: jdbc:mysql://localhost:3306/db_legao?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=GMT%2B8&allowPublicKeyRetrieval=true
    username: root
    password: root
  thymeleaf:
    cache: false

mybatis-plus:
  mapper-locations: classpath:mapper/**/*.xml
  global-config:
    db-column-underline: false
    capital-mode: false

logging:
  level:
    com.zxq.legao.dao: debug