<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>relationList</title>
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet"/>
    <link href="css/main.css" type="text/css" rel="stylesheet"/>
    <link href="css/paging.css" type="text/css" rel="stylesheet"/>
    <style>


    </style>
</head>
<body>
<div style="border:#DDDDDD solid 1px;margin-top: 10px;padding: 10px;margin-left: 250px;height:700px;" id="content_box">
    <span class="glyphicon glyphicon-circle-arrow-right"></span>&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;
    当前位置：签到管理&nbsp;&gt;&nbsp;查询签到

    <a style="margin-left: 530px;cursor: pointer;text-decoration: none;color: #000000; " href="#"><span
            class="glyphicon glyphicon-print"></span>&nbsp;打印</a>
    <a style="margin-left: 100px;cursor: pointer;text-decoration: none;color: #000000;" href="#"><span
            class="glyphicon glyphicon-export"></span>&nbsp;导出</a>

    <hr/>
    <form action="" id="relationform">

        学员：<select th:name="studentID" class="inputCss" id="studentList"
                   th:value="${blurRelation}==null? '':${blurRelation.studentID} ">
        <option value="">--请选择学员--</option>
        <option th:value="${students.id}" th:each="students:${application.allStudentName}"
                th:selected="${blurRelation}==null? false:(${blurRelation.studentID}==${students.id}?true:false)">
            [[${students.name}]]
        </option>
    </select>
        &nbsp;&nbsp;

        <input type="button" value="搜索" class="btn btn-success" id="selectRelation"/>&nbsp;
        <input type="button" class="btn btn-danger" value="删除" id="dropRelation"/>

        <br/><br/>
        <table cellspacing="0" cellpadding="" class="table table-hover table-striped" style="text-align: center;"
               id="relation_tab">
            <tr id="tr_th">
                <th><input type="checkbox" name="caption" value="0" id="checkAll"/></th>
                <th>课程</th>
                <th>学生</th>
                <th>学员生日|性别</th>
                <th>老师</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            <tr th:each="relation:${relationVOList}">
                <td><input type="checkbox" name="caption"
                           th:id="'box_'+${relation.id}" th:value="${relation.id}"/></td>
                <td>[[${relation.schedule.course.name}]]</td>
                <td>[[${relation.student.name}]]</td>
                <td>
                    [[${#dates.format(relation.student.birthday,'yyyy年MM月dd日')}]]|[[${relation.student.sex}]]
                </td>
                <td>[[${relation.schedule.teacherName}]]</td>
                <td th:if="${relation.signInStatus}==1"><span class="label label-success">准时</span></td>
                <td th:if="${relation.signInStatus}==2"><span class="label label-dange">迟到</span></td>
                <td th:if="${relation.signInStatus}==3"><span class="label label-default">请假</span></td>

                <td><a th:href="'editRelation?scheduleId='+${relation.schedule.id}"><span
                        class="glyphicon glyphicon-pencil"></span></a>&nbsp;&nbsp;&nbsp;&nbsp;
                </td>

            </tr>
        </table>

    </form>
    <!--分页元素-->
    <div class="box" id="box"></div>
    <!--添加表单提交标志-->
    <form id="pageForm" style="display: none">
        <input name="studentID" th:value="${blurRelation}==null? '':${blurRelation.studentID}"/>&nbsp;&nbsp;
        <input type="text" id="pages" name="page"/>

        <input type="button" id="btn" value="tijiao"/>
        <!--传入分页的参数-->
        <input type="text" id="actionName" value="selectRelation"/>
    </form>

    <script src="js/jquery-1.12.4.js" type="application/javascript" charset="UTF-8"></script>
    <script src="js/bootstrap.js" type="application/javascript" charset="UTF-8"></script>
    <script src="js/paging.js" type="application/javascript"></script>
    <script type="text/javascript" th:inline="javascript">

        $(function () {
            //表头元素居中
            $("th").css("text-align", "center");
            var window_width = $(window).width();
            var window_height = $(window).height();
            $("#content_box").attr("width", window_width - 250 - 250);

        })

        /*提交查询*/
        $("#selectRelation").click(function () {
            $("#relationform").attr("action", "selectRelation");
            $("#relationform").submit();
        });
        /*提交删除*/
        $("#dropRelation").click(function () {
            var chex = $("input[id^='box_']:checked");
            if (chex.length == 0) {
                alert("请选择你要删除的签到");
            } else {
                if (confirm("确定要删除该签到吗？")) {
                    $("#relationform").attr("action", "deleteRelations");
                    $("#relationform").submit();
                }
            }

        });

        /* 全选和反选*/
        $("#checkAll").click(function () {

            $("input[id^='box_']").prop("checked", this.checked);
        });

        //分页逻辑
        var setTotalCount = [[${pageInfo.total}]];
        var spageNum = [[${pageInfo.pages}]];
        var initPageNos = [[${pageInfo.pageNum}]]
        $('#box').paging({
            initPageNo: initPageNos, // 初始页码
            totalPages: spageNum, //总页数
            totalCount: '合计 ' + setTotalCount + ' 条数据', // 条目总数
            slideSpeed: 600, // 缓动速度。单位毫秒
            jump: true, //是否支持跳转
            callback: function (page) { // 回调函数
                //给标志赋值
                $("#pages").val(page);
            }
        })


    </script>
</body>
</html>
