<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>scheduleList</title>
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet"/>
    <link href="css/main.css" type="text/css" rel="stylesheet"/>
    <link href="css/paging.css" type="text/css" rel="stylesheet"/>
    <style>


    </style>
</head>
<body>
<div style="border:#DDDDDD solid 1px;margin-top: 10px;padding: 10px;margin-left: 250px;" id="content_box">
    <span class="glyphicon glyphicon-circle-arrow-right"></span>&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;
    当前位置：排课管理&nbsp;&gt;&nbsp;排课查询

    <a style="margin-left: 530px;cursor: pointer;text-decoration: none;color: #000000; " href="#"><span
            class="glyphicon glyphicon-print"></span>&nbsp;打印</a>
    <a style="margin-left: 100px;cursor: pointer;text-decoration: none;color: #000000;" href="#"><span
            class="glyphicon glyphicon-export"></span>&nbsp;导出</a>

    <hr/>
    <!--排课表-->
    <form action="" id="scheduleform">
        校区： <select class="inputCss" id="schoolArea_id" name="schoolAreaID">
        <option value="">--请选择校区--</option>
        <option th:value="${schoolArea.id}" th:each="schoolArea:${application.allSchoolArea}">
            [[${schoolArea.name}]]
        </option>

    </select>&nbsp;&nbsp;
        周数：<select class="inputCss"  name="weekOfYear">
        <option value="">--请选择课程所在周--</option>
        <option th:value="${schedule.weekOfYear}" th:each="schedule:${application.allWeekOfYear}">
            [[${schedule.weekOfYear}]]
        </option>
    </select>
        <input type="button" value="搜索" class="btn btn-success" id="selectSchedule"/>&nbsp;
        <input type="button" class="btn btn-danger" value="删除" id="dropSchedule"/>


        <div class="table-responsive">
            <div style="text-align: center"><h3>第[[${dateVO.weekOfYear}]]周（[[${dateVO.startWeekDate}]]—[[${dateVO.endWeekDate}]]） 排课表</h3></div>
<table class="table table-bordered" cellspacing="0" cellpadding=""  style="text-align: center;">
    <tr><th>时间段</th><th class="active">星期一</th><th >星期二</th><th class="warning">星期三</th><th >星期四</th><th class="info">星期五</th><th>星期六</th><th class="success">星期日</th></tr>
    <tr th:each="timeSection:${application.allDate}">
        <td th:id="'timeSection_' + ${timeSection.id}">[[${timeSection.timeSection}]]</td>
        <td  class="active" ><div th:id="'time_' + ${timeSection.id} + '_2'"></div></td>
        <td ><div th:id="'time_' + ${timeSection.id} + '_3'" ></div></td>
        <td  class="warning"><div th:id="'time_' + ${timeSection.id} + '_4'"></div></td>
        <td ><div th:id="'time_' + ${timeSection.id} + '_5'" ></div></td>
        <td  class="info"><div th:id="'time_' + ${timeSection.id} + '_6'"></div></td>
        <td  ><div th:id="'time_' + ${timeSection.id} + '_7'"></div></td>
        <td  class="success"><div th:id="'time_' + ${timeSection.id} + '_1'"></div></td>
       </tr>

</table>
        </div>
    </form>

    <!--添加表单提交标志-->
    <form id="pageForm" style="display: none">
        <input name="schedulename" th:value="${blurSchedule}==null? '':${blurSchedule.schedulename}"/>&nbsp;&nbsp;
        <input name="status" th:value="${blurSchedule}==null? '':${blurSchedule.status} "/>
    </form>

    <script src="js/jquery-1.12.4.js" type="application/javascript" charset="UTF-8"></script>
    <script src="js/bootstrap.js" type="application/javascript" charset="UTF-8"></script>
    <script src="js/layer.js"></script>
    <script type="text/javascript" th:inline="javascript">
        $(function () {
            //表头元素居中
            $("th").css("text-align", "center");
            var window_width = $(window).width();
            var window_height = $(window).height();
            $("#content_box").attr("width", window_width - 250 - 240);
            $("#content_box").attr("height", window_height-110);
            //获取排课信息
            var tds = $("div[id^='time_']");
            var scheduleList = [[${scheduleVOList}]];
            var position,positionID,positionX,positionY;
            for (var i = 0; i < scheduleList.length; i++) {
                for (var j =0;j<tds.length;j++){
                    positionID = $(tds[j]).attr("id")
                    position = positionID.split("_");
                    positionX = position[1];
                    positionY = position[2];
                    //和时间段的id和星期的id比对，一样则填入
                    if ((scheduleList[i].date.id == positionX) && (scheduleList[i].courseWeek == positionY)){
                        $("#"+positionID).append(
                            "<input type='checkbox'  name='caption'id='box_'"+scheduleList[i].id+"'"+" value='"+scheduleList[i].id+"'/>"+
                            scheduleList[i].course.name+"("
                            +
                            scheduleList[i].course.ageArea+" "
                            +
                            scheduleList[i].classroom.name+" "
                            +
                            "["+scheduleList[i].teacherName+"]"
                            +") <a href='editSchedule?scheduleId="+ scheduleList[i].id +"'><span class='glyphicon glyphicon-pencil'></span></a>"+ "<br/><br/>");
                    }
                }

            }

        })
        /*提交查询*/
        $("#selectSchedule").click(function () {
            $("#scheduleform").attr("action", "selectSchedule");
            $("#scheduleform").submit();
        });
        /*提交删除*/
        $("#dropSchedule").click(function () {
            var chex = $("input[id^='box_']:checked");
            if (chex.length == 0) {
                alert("请选择你要删除的用户");
                layer.msg("请选择你要删除的用户");
            } else {
                if (confirm("确定要删除该用户吗？")) {
                    $("#scheduleform").attr("action", "deleteSchedules");
                    $("#scheduleform").submit();
                }
            }

        });





    </script>
</body>
</html>
