<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>jobList</title>
		<link href="../css/bootstrap.css" type="text/css" charset="UTF-8" rel="stylesheet"/>
		<link href="../css/main.css" type="text/css" charset="UTF-8" rel="stylesheet" />
	</head>
	<body>
		
		<div style="border:#DDDDDD solid 1px;width: 100%;height: 600px;margin-top: 10px;padding: 10px;margin-left: 250px;" >
			<span class="glyphicon glyphicon-circle-arrow-right"></span>&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;
			当前位置：职位管理&nbsp;&gt;&nbsp;职位查询
		<a style="margin-left: 530px;cursor: pointer;text-decoration: none;color: #000000; " href="#"><span class="glyphicon glyphicon-print" ></span>&nbsp;打印</a>
			<a style="margin-left: 100px;cursor: pointer;text-decoration: none;color: #000000;" href="#"><span class="glyphicon glyphicon-export" ></span>&nbsp;导出</a>
		<hr />
	
	
		<form action="" id="jobform">
			职位名称：<input type="text" name="job.name" class="inputCss"/>&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="button"  id="selectJob" value="搜索" class="btn btn-success"/>&nbsp;
			
			<input type="button"  class="btn btn-danger" value="删除" id="dropJob"/>
		
		<br /><br />
		<table cellspacing="0" cellpadding=""  class="table table-hover table-striped" style="width: 82%;">
			<tr><th><input type="checkbox" name="caption" id="checkAll"></th>
			<th>职位名称</th>
			<th>详细信息</th>
			
			<th>操作</th>
			
			</tr>
			
		</table>
		
		
		</form>
		 
		</div>
		<script type="application/javascript" src="../js/jquery-1.12.4.js"></script>
		<script type="application/javascript" src="../js/bootstrap.js"></script>
		<script type="text/javascript">
		
			/*提交查询*/
			$("#selectJob").click(function(){
				$("#jobform").attr("action", "${dzx}/selectJob.action");
 		 		$("#jobform").submit();
			});
			/*提交删除*/ 
			$("#dropJob").click(function(){
				var chex=$("input[id^='box_']:checked");
				if (chex.length==0) {
					alert("请选择你要删除的职位");
				} else {
					if(confirm("确定要删除该职位吗？")){
						$("#jobform").attr("action", "${dzx}/dropJob.action");
		 		 		$("#jobform").submit();
					}
				}
				
			});
			/* 全选和反选*/
			$("#checkAll").click(function(){
				
				$("input[id^='box_']").prop("checked",this.checked);
			});
			
			
		</script>
		
		
	</body>
</html>
