<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zxq.legao.dao.DocDao">
    <insert id="insertDoc" parameterType="com.zxq.legao.entity.po.DocPO">
        INSERT  INTO legao_doc(title,fileName,remark,createDate,userID) VALUES(#{title},#{fileName},#{remark},now(),#{userID});
    </insert>
    <delete id="deleteDoc" parameterType="java.lang.Integer">
        DELETE FROM legao_doc WHERE id = #{id};
    </delete>

    <select id="selectDoc" parameterType="com.zxq.legao.entity.po.DocPO" resultType="com.zxq.legao.entity.po.DocVO"
            resultMap="selectDoc_map">
        SELECT d.id,d.title,d.fileName,d.remark,d.createDate,u.id as userID,u.username,u.status FROM legao_doc d
        ,legao_user u WHERE d.userID = u.id;

        <where>
            <if test="title!=null and title!=''">
                and d.title like '%${title}%'
            </if>

        </where>

    </select>
    <resultMap id="selectDoc_map" type="com.zxq.legao.entity.po.DocVO">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="fileName" column="fileName"/>
        <result property="remark" column="remark"/>
        <result property="createDate" column="createDate"/>
        <association property="userVO" column="userID" javaType="com.zxq.legao.entity.vo.UserVO">

            <id property="id" column="userID"></id>
            <result property="username" column="username"></result>
            <result property="status" column="status"></result>

        </association>

    </resultMap>

</mapper>