<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zxq.legao.dao.JobDao">
    <insert id="insertJob" parameterType="com.zxq.legao.entity.po.JobPO">
        INSERT  INTO legao_job(name,remark,createDate) VALUES(#{name},#{remark},now());
    </insert>
    <delete id="deleteJob" parameterType="java.lang.Integer">
        DELETE FROM legao_job WHERE id = #{id};
    </delete>
    <update id="updateJob" parameterType="com.zxq.legao.entity.po.JobPO">
        UPDATE legao_job SET name = #{name},remark = #{remark}WHERE id = #{id};
    </update>
    <select id="selectJob" parameterType="com.zxq.legao.entity.po.JobPO" resultType="com.zxq.legao.entity.po.JobPO">
        SELECT
        id,
        name,
        remark,
        createDate,
        c.*
        FROM
        legao_job d
        LEFT JOIN (
        SELECT
        jobID,
        COUNT(1) AS jobAllNum
        FROM
        legao_teacher
        GROUP BY
        jobID
        ) c ON d.id = c.jobID;

        <where>
            <if test="name!=null and name!=''">
                and name like '%${name}%'
            </if>


        </where>

    </select>
    <select id="selectJobByID" parameterType="java.lang.Integer" resultType="com.zxq.legao.entity.po.JobPO">
        SELECT name,remark,createDate FROM legao_job WHERE id = #{id};
    </select>
</mapper>