<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxq.legao.dao.ScheduleDao">
    <insert id="insertSchedule" parameterType="com.zxq.legao.entity.po.SchedulePO"  useGeneratedKeys="true" keyProperty="id">
        INSERT INTO legao_schedule(legao_schedule.schoolAreaID,
                                   legao_schedule.`dateID`,
                                   legao_schedule.courseID,
                                   legao_schedule.classroomID,
                                   legao_schedule.courseDate,
                                   legao_schedule.teacherName,
                                   legao_schedule.courseWeek,
                                   legao_schedule.weekOfYear,
                                   legao_schedule.seriesID)
        VALUES (#{schoolAreaID},
                #{dateID},
                #{courseID},
                #{classroomID},
                #{courseDate},
                #{teacherName},
                #{courseWeek},
                #{weekOfYear},
                #{seriesID});
    </insert>
    <delete id="deleteSchedule" parameterType="java.util.List">
        DELETE FROM legao_schedule WHERE id IN
        <foreach collection="list" separator="," close=")" open="(" item="id">
            #{id}
        </foreach>

    </delete>
    <update id="updateSchedule" parameterType="com.zxq.legao.entity.po.SchedulePO">
        UPDATE legao_schedule
        SET
            schoolAreaID = #{schoolAreaID},
            dateID       = #{dateID},
            courseID     = #{courseID},
            classroomID  = #{classroomID},
            courseDate   = #{courseDate},
            teacherName  = #{teacherName},
            courseWeek   = #{courseWeek},
            weekOfYear   = #{weekOfYear},
            seriesID     = #{seriesID}
        WHERE id = #{id};
    </update>
    <select id="selectSchedule"
            resultType="com.zxq.legao.entity.vo.ScheduleVO" resultMap="select_scheduleMap">

        SELECT
        legao_schedule.id,
        legao_schedule.schoolAreaID,
        legao_schedule.dateID,
        legao_schedule.courseID,
        legao_schedule.classroomID,
        legao_schedule.courseDate,
        legao_schedule.teacherName,
        legao_schedule.courseWeek,
        legao_schedule.weekOfYear,
        legao_schedule.seriesID
        FROM
        legao_schedule

        <where>
            <if test="schoolAreaID==null or  schoolAreaID ==''">
                <if test="weekOfYear==null or  weekOfYear ==''">
                    and YEARWEEK(courseDate) = YEARWEEK(now())
                    and schoolAreaID = 1
                </if>
                <if test="weekOfYear!=null and weekOfYear!=''">
                    and weekOfYear = #{weekOfYear}
                    and schoolAreaID = 1
                </if>
            </if>

            <if test="schoolAreaID != null and schoolAreaID !=''">
                <if test="weekOfYear==null or  weekOfYear ==''">
                    and schoolAreaID = #{schoolAreaID}
                    and YEARWEEK(courseDate) = YEARWEEK(now())
                </if>
                <if test="weekOfYear!=null and weekOfYear!=''">
                    and schoolAreaID = #{schoolAreaID}
                    and weekOfYear = #{weekOfYear}
                </if>
            </if>

        </where>


    </select>
    <select id="selectScheduleByID" parameterType="java.lang.Integer" resultType="com.zxq.legao.entity.vo.ScheduleVO"
            resultMap="select_scheduleMap">
        SELECT
            legao_schedule.id,
            legao_schedule.schoolAreaID,
            legao_schedule.dateID,
            legao_schedule.courseID,
            legao_schedule.classroomID,
            legao_schedule.courseDate,
            legao_schedule.teacherName,
            legao_schedule.courseWeek,
            legao_schedule.weekOfYear,
            legao_schedule.seriesID
        FROM
            legao_schedule

        WHERE id = #{id}
    </select>
    <resultMap id="select_scheduleMap" type="com.zxq.legao.entity.vo.ScheduleVO">
        <id column="id" property="id"></id>
        <result column="teacherName" property="teacherName"></result>
        <result column="courseWeek" property="courseWeek"></result>
        <association property="date" column="dateID"
                     select="com.zxq.legao.dao.DateDao.selectDateByID"
                     javaType="com.zxq.legao.entity.po.DatePO"></association>
        <association property="schoolArea" column="schoolAreaID"
                     select="com.zxq.legao.dao.SchoolAreaDao.selectSchoolAreaByID"
                     javaType="com.zxq.legao.entity.vo.SchoolAreaVO"></association>
        <association property="course" column="courseID" javaType="com.zxq.legao.entity.vo.CourseVO"
                     select="com.zxq.legao.dao.CourseDao.selectCourseByID"></association>
        <association property="classroom" column="classroomID" javaType="com.zxq.legao.entity.vo.ClassRoomVO"
                     select="com.zxq.legao.dao.ClassRoomDao.selectClassRoomByID"></association>
        <association property="course" column="courseID" javaType="com.zxq.legao.entity.vo.CourseVO"
                     select="com.zxq.legao.dao.CourseDao.selectCourseByID"></association>
    </resultMap>

    <!--查询所有的周数-->
    <select id="findAllweekOfYear" resultType="com.zxq.legao.entity.vo.ScheduleVO" resultMap="select_allweekOfYearMap">
        SELECT
            legao_schedule.weekOfYear,
            legao_schedule.dateID
        FROM
            legao_schedule
        ORDER BY weekOfYear

    </select>
    <resultMap id="select_allweekOfYearMap" type="com.zxq.legao.entity.vo.ScheduleVO">
        <result column="weekOfYear" property="weekOfYear"></result>
        <association property="date" column="dateID" select="com.zxq.legao.dao.DateDao.selectDateByID" javaType="com.zxq.legao.entity.vo.DateVO"></association>
    </resultMap>
</mapper>
