<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zxq.legao.dao.TeacherDao">
    <insert id="insertTeacher" parameterType="com.zxq.legao.entity.po.TeacherPO" >
        INSERT  INTO legao_teacher(name,sex,telphone,qqNum,remark,education,birthday,headImgSrc,deptID,jobID,createDate)
        VALUES(#{name},#{sex},#{telphone},#{qqNum},#{remark},#{education},#{birthday},#{headImgSrc},#{deptID},#{jobID},now());
    </insert>
    <delete id="deleteTeacher" parameterType="java.lang.Integer">
        DELETE FROM legao_teacher WHERE id = #{id};
    </delete>
    <update id="updateTeacher" parameterType="com.zxq.legao.entity.po.TeacherPO">
        UPDATE legao_teacher SET name = #{name},sex = #{sex},telphone = #{telphone},qqNum = #{qqNum},remark = #{remark},education = #{education},
        birthday = #{birthday},headImgSrc = #{headImgSrc},deptID = #{deptID},createDate= #{createDate} WHERE id = #{id};
    </update>
    <select id="selectTeacher" parameterType="com.zxq.legao.entity.po.TeacherPO" resultType="com.zxq.legao.entity.po.TeacherVO" resultMap="teacher_map">
        select t.* from( select e.*,j.NAME as job_name from (
        select e.*,d.NAME
        as dept_name from legao_teacher e
        left join legao_dept d on e.deptID=d.ID
        ) e left join legao_job j on
        e.jobID=j.ID ) t

        <where>
            <if test="jobID!=null and jobID!=0">
                and jobID=#{jobID}
            </if>
            <if test="deptID!=null and deptID!=0">
                and deptID=#{deptID}
            </if>
            <if test="name!=null and name!=''">
                and name like '%${name}%'
            </if>
            <if test="telphone!=null and telphone!=''">
                and telphone=#{telphone}
            </if>
            <if test="sex!=null and sex!=-1">
                and sex=#{sex}
            </if>
        </where>

    </select>
    <resultMap id="teacher_map" type="com.zxq.legao.entity.vo.TeacherVO">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="telphone" column="telphone" />
        <result property="qqNum" column="qqNum" />
        <result property="birthday" column="birthday" />
        <result property="education" column="education" />
        <result property="remark" column="remark" />
        <result property="sex" column="sex" />
        <result property="createDate" column="createDate" />
        <result property="headImgSrc" column="headImgSrc" />

        <!-- 部门对象映射 -->
        <association property="deptVO" column="deptID" javaType="com.zxq.legao.entity.vo.DeptVO">
            <id property="id" column="deptID" />
            <result property="name" column="dept_name" />
        </association>
        <!-- 职位对象映射 -->
        <association property="job" column="jobID" javaType="com.zxq.legao.entity.vo.JobVO">
            <id property="id" column="jobID" />
            <result property="name" column="job_name" />
        </association>
    </resultMap>
    <select id="selectTeacherByID" parameterType="java.lang.Integer" resultType="com.zxq.legao.entity.po.TeacherPO">
        SELECT id,name,sex,telphone,qqNum,remark,education,birthday,headImgSrc,deptID,jobID,createDate FROM legao_teacher WHERE id = #{id};
    </select>
</mapper>